
* {
    padding-bottom: 0px !important;
    padding-top: 0px !important;

}
.navbar a{
    color: white!important;
}
.dropdown-menu{
    background-color: #4d3a75!important;
}
.dropdown-menu li a:hover{
    background-color: #acacac!important;
}
.menu-left{
   margin-right: 40px;
}
.menu-left li {
    padding-inline: 15px;
}
.menu img{
    width: 60px;
}

.carousel-item {
    height: 500px;
}

.banner1, .banner2, .banner3 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(img/lapiz-teste.jpg);
    background-position: center;
    height: 500px;
    
}

.card1 {
    
    
 

    z-index: 10;
    
    background-color: red !important;
}
.card1 p {
    padding: 20px;
    margin-top: 20px !important;
    padding-left: 30px;
}

.card1 .titulo {
    padding: 30px;
    margin-top: 10px !important;
}

.card1 a {
    margin-left: 10px !important;
    width: 300px;
    padding-top: 10px   ;
    border-radius: 15px;
    font-size: 30px !important;
    background-color: #4d3a75;
    color: white;
    border-color: #4d3a75;
}

.custom-card {
    border: 1px solid #dee2e6; /* Cor da borda */
    border-radius: 0.375rem; /* Borda arredondada */
    overflow: hidden; /* Garante que a borda arredondada funcione com imagens */
    transition: box-shadow 0.3s ease; /* Transição suave para sombra */
}
.custom-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra ao passar o mouse */
}
.card-header-custom {
    background-color: #007bff; /* Cor de fundo personalizada para o cabeçalho do card */
    color: white; /* Cor do texto do cabeçalho */
}
.card-body-custom {
    background-color: red; /* Cor de fundo personalizada para o corpo do card */
}