
* {
    padding-bottom: 0px !important;
    padding-top: 0px !important;

}
.navbar a{
    color: white!important;
}
.dropdown-menu{
    background-color: #4d3a75!important;
}
.dropdown-menu li a:hover{
    background-color: #acacac!important;
}
.menu-left{
   margin-right: 40px;
}
.menu-left li {
    padding-inline: 15px;
}
.menu img{
    width: 60px;
}

.carousel-item {
    height: 500px;
}

.banner1, .banner2, .banner3 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(img/lapiz-teste.jpg);
    background-position: center;
    height: 500px;
    
}

.card-header{
border-bottom: none !important;
}

.card1 {
    position: relative;
    color: white !important;
    top: 30px;
    left: 180px;
    max-width: 300px;
    z-index: 10;
    padding-bottom: 30px !important;
    width: 300px;
    border-radius: 15px !important;
    background-color: red !important;
}
.card1 p {
    margin-top: 10px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin-bottom: 0px !important;
    
}

.card1 .titulo {
    padding: 30px;
    padding-top: 15px !important;
    
}

.card1 a {
    margin-left: 10px !important;
    width: 214px;
    border-radius: 15px;
    font-size: 30px !important;
    background-color: #4d3a75;
    color: white;
    border-color: #4d3a75;
    z-index: 88 !important;
    bottom: -25px;
    left: 30px;
    text-decoration-line: none;
    padding-left: 20px;
    position: absolute;
}



@media (max-width: 576px) {

    .card1 {
        width: 335px;
        left: 63px;
    }
    .card1 a {
        margin-left: 10px !important;
        width: 280px;
        padding-top: 10px   ;
        border-radius: 15px;
        font-size: 30px !important;
        background-color: #4d3a75;
        color: white;
        border-color: #4d3a75;
    }

}

@media (max-width: 350px) {
    .card1 {
        width: 230px !important;
        
        left: 44px !important;
    }
    .card1 a {
        left: 0px !important;
    }
}
@media (max-width: 385px) {
    .card1 {
        width: 280px;
        left: 47px;
    }
    .card1 a {
        width: 210px;
    }
}
@media (max-width: 430px) {
    .card1 a {
        width: 210px;
        left: 22px;
    }
}
@media (min-width: 426px) {
    .card1 {
        left: 3px !important;
    }
    .card1 a {
        left: 33px;
    }
 
}
.carousel-control-prev-icon {
    
     background-color: black;
    border-radius: 50px;
    border-color: rgb(121, 121, 121);
    border-style: solid;
    position: absolute;
    z-index: 10;
    border-radius: 20px;
}

.carousel-control-next-icon {
    
    background-color: black;
    border-radius: 50px;
    border-color: rgb(121, 121, 121);
    border-style: solid;
    position: absolute;
    z-index: 10;
    border-radius: 20px;
}
@media (min-width: 750px) {
    .card1 {
        left: 120px !important;
    }
}
@media (min-width: 1000px) {
    .card1 {
        left: 180px !important;
    }
}

@media (min-width: 2000px) {
    .card1 {
        left: 280px !important;
    }
}
.formulario{
    margin-top: 20px;
    
}

.form-section h4{
    margin-left: 60%;
    color: #513986;
}
.form-control-lg{
    background-color: #b7c7f8!important;
    border-radius: 20px!important;
}
.col-sm-5 img{
    margin-left: 50px;
}
.botao-cadastrar{
    width: 90%;
    margin-left: 20px!important;
    background-color: #513986!important;
    border-radius: 15px!important;
}
.btn-primary{
    border-color: transparent!important;
}
.card{
  
    width: 250px;
    
    
  }
  .card-body{
    padding-right: 20PX;
    
    
  }
  .estrela{
    height: 200px;
    width: 200px;
    margin-left: 78px;
    margin-top: -60px;
    
  }
  .texto-card-inicial{

  margin-top: -40px;

  }


















  
footer{
    background-color:  #4d3a75
}
.Logo{
    margin-left: 30px;
     margin-top: 20px;
}
.PEI h5{
    margin-left: 30px;
    color: aliceblue;
    margin-top:25px;
}
.Escola-Amador h5{
    margin-left: -30px;
    color: aliceblue;
    margin-top: 50px
}
.unilateral{
display: flex;
}

.Escola-Amador{
    
    margin-bottom: 10px;
}

.borda{
    background-color: #fff;
    height: 1px;
    width: 440px; 
    margin-left: 25px;
}

.footer-dois{
    padding: 20px !important;
}

.borda{
    border-bottom: 1px solid #fff;
    
}

.telefone{
    display: flex;
    margin-top: 30px;
    margin-left: 40px;
}
.telefone h6{
    color: #fff;
    margin-left: 10px;
    
}
.telefone img{
    margin-top: 1px;

}

.Gmail{
    display: flex;
    margin-top: 5px;
    margin-left: 40px;
}
.Gmail h6{
    color: #fff;
    margin-left: 10px;
    
}


.Localização{
    display: flex;
    margin-top: 5px;
    margin-left: 40px;
}
.Localização h6{
    color: #fff;
    margin-left: 10px;
    
}

.Relógio{
    display: flex;
    margin-top: 5px;
    margin-left: 40px;
}
.Relógio h6{
    color: #fff;
    margin-left: 10px; 
}

.LogoFaceInst{
    display: flex;
    margin-left: 40px;
    margin-bottom: 40px !important;
}

.QR-code{
    margin-left: 800px;
    margin-top: -200px;
    display: flex;
}
.QR-code h6{
    color: #fff;
    margin-left: 15px;
}



.footer-três{
    color: #fff;
    background-color: black;
    text-align: center;
    border-top: 7px solid #000; /* Ajuste a cor e a espessura conforme necessário */
}
